#subject{
    background-color: #f7f6fb ;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 10px;
}
#table{
    padding: 10px;
}
.jumbotron{
    background-color: #f7f6fb;
}